.container {
  width: 100%;
}

.container__navigation {
  position: fixed;
  width: 100%;
  height: 150px;
  background-color: black;
  display: inline;
  padding-bottom: 20px;
}

.welcomebanner__title {
  width: 200px;
  display: inline;
}

.container__navigation__login__valid {
}
.container__navigation__title {
  margin-left: 0;
  display: inline;
}

.container__navigation__title__image {
  padding-top: 30px;
}

.container__navigation__about {
  margin:0;
  padding-top: 20px;
  display: inline;
}

.container__navigation__login {
  float: right;
  height: 75px;
  width: 300px;
  color:white;
  display: block;
}

.container__navigation__login__username {
  color: black;
}

.container__navigation__login__password {
  color: black;
}

.container__tagline {
  margin: 20px;
  padding: 0px;
  padding-left: 0px;
  margin-top: 0px;
  padding-top: 200px;
  padding-bottom: 0px;
}

.container__footer {
  padding-top: 50px;
  margin-top: 50px;
}

.container__mission {
  padding-top: 200px;
}

.container__form__request {
  text-align: right;
  display: inline;
}

.container__form__request__label {
  float: left;
  padding: 0px;
  margin: 0px;
}

.container__form__request__input {
  float: right;
  padding: 0px;
  margin: 0px;
}

.container__contact {
  padding-top: 200px;
}

iframe {
  padding-top: 200px;
  padding-left: 30px;
}

#request {
  text-align: right;
  margin-right: 10%;
}

blockquote {
  text-align: center;
}

