.container {
  width:100%;
  display: block;
}

.container__navigation {
  position: fixed;
  width: 100%;
  height: 150px;
  background-color: black;
  display: block;
  padding-bottom: 20px;
}

.container__navigation__title {
  margin-left: 0;
  display: inline;
}

.container__navigation__title__image {
  height: 100px;
  padding-top: 30px;
}

.container__navigation__about {
  margin:0;
  padding-top: 20px;
  float: right;
  display: block;
}

.container__navigation__login {
  height: 75px;
  width: 300px;
  color:white;
  padding-top: 30px;
  float: right;
  display: block;
}

.container__navigation__login__username {
  color: black;
}

.container__navigation__login__password {
  color: black;
}

body {
  background-color: #FF9933;
}

